[run]
omit = 
    ../*admin*
    ../*urls*
    retirement_api/migrations/*
    setup.py
    retirement_api/settings.py

[report]

exclude_lines = 
    pragma: no cover
    def __unicode__
    if __name__ == .__main__.:
