body {
  background-image: none;
  font-size: 16px;
}

#claiming-social-security .cf-icon.cf-icon-help-round {
  color: #0072CD;
  font-size: .8em;
}

#claiming-social-security .btn {
  font-family: "AvenirNextLTW01-Regular", Arial, sans-serif;
  font-weight: normal;
}

#maincontent {
  width: 1052px;
  padding-top: 0px;  
}

#claiming-social-security h2, h4, h6 {
  text-transform: none;
}

#claiming-social-security hr {
  width: 101.4%;
}

#claiming-social-security .canvas-container {
  position: relative;
}

#claiming-social-security .canvas-container .x-axis-label {
  position: relative;
  top: -20px;
  left: 40px;
}

#claiming-social-security p.y-axis-label {
  position: absolute;
  top: 225px;
  left: -50px;

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#claim-canvas {
  background-image: url('../graph-background.jpg');
  background-repeat: repeat-x;
  background-position: 0px 40px;
  position: relative;
}
#claim-canvas text {
  font-family: "AvenirNextLTW01-Regular", Arial, sans-serif;
}

#claiming-social-security {
  font-family: "AvenirNextLTW01-Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  position: relative;
}

#claiming-social-security #claiming-hero-bg {
background-color: #FFCE8D;
  height: 350px;
  width: 100%;
  position: absolute;
  z-index: 0;
  background-image: url('../images/retirement-hero.png');
  background-position: 700px 88px;
  background-repeat: no-repeat;
  background-size: 40%;
}

#claiming-social-security .claiming-hero {
  margin-bottom: 20px;
  padding: 50px 0px;
  width: 100%;
  position: relative;
}

#claiming-social-security .claiming-hero h1 {
  font-size: 2.125em;
}

#claiming-social-security .claiming-hero p {
  font-size: 1.625em;
}

#claiming-social-security .claiming-hero h1,
#claiming-social-security .claiming-hero p {
  font-family: "AvenirNextLTW01-Regular", Arial, sans-serif;
  width: 470px;
}

#claiming-social-security .claiming-hero-b h1 {
  font-size: 1.8em;
}

#claiming-social-security .claiming-hero-b h1,
#claiming-social-security .claiming-hero-b p {
  width: 600px;
}
#claiming-social-security .claiming-hero-b p {
  font-size: 1.2em;
}

#claiming-social-security .version-b {
  display:none;
}

#claiming-social-security .step-one {
  padding-top: 20px;
}

#claiming-social-security .estimated-benefits-input + hr {
  margin-bottom: 0;
}

#claiming-social-security #graph-container .content-l_col {
  margin-top: 0px;
  padding: 20px 0;
}

#claiming-social-security .step-one .content-l_col {
  vertical-align: bottom;
}

#claim-canvas .age-text {
  color: #babbbd;
  font-family: 'AvenirNextLTW01-Regular', Arial, sans-serif;
  position: absolute;
  top: 292px;
}

#claim-canvas .age-text.selected-age {
  color: #000;
}

#claim-canvas #min-age-text {
  left: 5px;
}

#claim-canvas #selected-age-text {
  color: black;
}

#claim-canvas #max-age-text {
  left: 443px;
}

#claim-canvas #benefits-text {
  position: absolute;
}

#claiming-social-security .estimated-longevity {
  display: block;

}
#claiming-social-security .lifetime-benefits-value {
  font-weight: bold;
}

#claiming-social-security .explainer {
  font-size: .875em;
}

#claiming-social-security .estimated-benefits-input label {
  display: inline;
  margin-left: 40px;
}

#claiming-social-security #graph-container .content-l_col.benefits-comparison {
  background-color: #f8f8f8;
  border-left: 1px solid #e3e3e1;
  min-height: 100%;
  padding-left: 10px;
}

#claiming-social-security .input-labels {
  display: inline;
}

#claiming-social-security .input-labels .label-text {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#claiming-social-security .input-labels input {
  display: inline; 
  width: 20%;
  padding: 2px;
}

#claiming-social-security #bd-year {
  width: 40%;
}

#claiming-social-security #salary-input {
  width: 90%;
}

#claiming-social-security .btn.get-your-estimates {
  position: relative;
  top: 5px;
}

#claiming-social-security .benefits-comparison .annual-view {
  display: none;
}

#claiming-social-security .estimate-info {
  vertical-align: bottom;
  font-size: 0.875em;
}

#claiming-social-security .compared-to-full {
  display: none;
}

#claiming-social-security .selected-retirement-age {
  margin-bottom: 2px;
}

#claiming-social-security .total-benefits-text {
  margin-top: 20px;
}

#claiming-social-security .benefit-selection p.selected-full-retirement,
#claiming-social-security #age-selector-response,
#claiming-social-security #age-selector-response .thank-you {
  display: none;
}

#claiming-social-security .benefit-selection button.selected-remove {
  background: none;
  border: none;
  float: right;
}

#claiming-social-security #graph-container + hr {
  margin-top: 0px;
}

#claiming-social-security .step-two .lifestyle-img {
  display: block;
  margin: 100px auto 80px;
}

#claiming-social-security .step-two .lifestyle-response {
  display: none;
}

#claiming-social-security .step-two + hr {
  margin: 50px 0;
}

#claiming-social-security .step-two .question,
#claiming-social-security .step-three .hidden-content {
  display: none;
}

#claiming-social-security #estimated-benefits-input,
#claiming-social-security #graph-container,
#claiming-social-security .step-two,
#claiming-social-security .step-three {
  opacity: .35;
}

#claiming-social-security .step-three .selector-container {
  overflow: hidden;
  position: relative;
  background: #ffffff url('/retirement/static/images/select.png') no-repeat right 0;
  border: solid 1px #d0d0ce;
  height: 32px;
  font-family: "AvenirNextLTW01-Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  width: 150px;
}

#claiming-social-security .step-three #retirement-age-selector {
  width: 100%;
  padding-right: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0 4px;
  font-size: 1em;
  color: #101820;
  height: 100%;
}

#claiming-social-security #age-selector-response .next-steps li {

} 

/* ====================================================================
   Medium and small screens
==================================================================== */

@media (max-width: 1051px) {
  #claiming-social-security #maincontent {
    box-sizing: border-box;
    width: 100%;
  }

  .wrapper-banner,
  #header,
  #footer {
    display: none;
  }
}

/* ====================================================================
   Medium screens
==================================================================== */

@media (max-width: 1051px) and (min-width: 768px) {
  #claiming-social-security #claiming-hero-bg {
    display: none;
  }

  #claiming-social-security .claiming-hero {
    background-color: #FAAF4A;
    background-image: url('../images/retirement-hero.png');
    background-origin: content-box;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 350px auto;
    margin: 0 -20px 10px -20px;
    padding: 40px 20px;
    width: auto;
  }

  #claiming-social-security .claiming-hero h1,
  #claiming-social-security .claiming-hero p {
    padding-right: 375px;
    width: auto;
  }

  #claiming-social-security .step-one > .content-l_col {
    display: block;
    width: auto;
  }

  #claiming-social-security #graph-container {
    display: table;
    height: auto !important;
    width: auto;
  }

  #claiming-social-security #graph-container > .content-l_col-1-6 {
    caption-side: bottom;
    display: table-caption;
    width: 100%;
  }

  #claiming-social-security #graph-container > .content-l_col-1-2,
  #claiming-social-security #graph-container > .content-l_col-1-3 {
    display: table-cell;
  }

  #claiming-social-security #graph-container > .content-l_col-1-2 {
    width: 66.6666666%;
  }

  #claiming-social-security .step-two .content-l_col {
    display: block;
    width: auto;
  }

  #claiming-social-security div.question {
    border-bottom: 1px solid #ccc;
    margin-bottom: 2em;
    padding-bottom: 2em;
  }

  #claiming-social-security div.question.question-longevity {
    border-bottom: none;
  }

  #claiming-social-security .question:before,
  #claiming-social-security .question:after {
    display: table;
    content: "";
  }

  #claiming-social-security .question:after {
    clear: both;
  }

  #claiming-social-security .question hr {
    display: none;
  }

  #claiming-social-security .step-two .lifestyle-img {
    display: block !important;
    float: left;
    height: auto !important;
    margin: 0;
    width: 200px !important;
  }

  #claiming-social-security .step-two .lifestyle-question,
  #claiming-social-security .step-two .lifestyle-response,
  #claiming-social-security .step-two [data-answered] .lifestyle-btn.btn__grouped-first {
    margin-left: 230px;
  }

  #claiming-social-security .step-two .lifestyle-btn.btn__grouped-first {
    margin-left: 30px;
  }
}

/* ====================================================================
   Small screens
==================================================================== */

@media (max-width: 767px) {
  #claiming-social-security .content-l {
    margin-left: 0;
    margin-right: 0;
  }

  #claiming-social-security .content-l_col {
    border: none;
    display: block;
    width: auto;
  }

  #claiming-social-security #claiming-hero-bg {
    display: none;
  }

  #claiming-social-security .claiming-hero {
    background-color: #FAAF4A;
    background-image: url('../images/retirement-hero.png');
    background-position: center 20px;
    background-repeat: no-repeat;
    background-size: auto 100px;
    margin: 0 -20px 10px -20px;
    padding: 140px 20px 10px 20px;
    width: auto;
  }

  #claiming-social-security .claiming-hero h1,
  #claiming-social-security .claiming-hero p {
    width: 100%;
  }

  #claiming-social-security .birthdate-inputs p,
  #claiming-social-security label[for="salary-input"] p {
    margin-bottom: 0;
  }

  #claiming-social-security #salary-input {
    width: 65%;
  }

  #claiming-social-security #estimated-benefits-input label {
    display: inline-block;
    margin-right: 1em;
  }

  #claiming-social-security #graph-container {
    display: table;
    height: auto !important;
    width: 100%;
  }

  #claiming-social-security #graph-container > .content-l_col-1-6 {
    caption-side: bottom;
    display: table-caption;
    width: 100%;
  }

  #claiming-social-security #claim-canvas {
    overflow: hidden !important;
    width: 100% !important;
    margin-left: 40px;
  }

  #claiming-social-security #claim-canvas svg {
    overflow: hidden !important;
    width: 100% !important;
  }

  #claiming-social-security #graph-container .content-l_col.benefits-comparison {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #claiming-social-security #graph-container + hr {
    display: none;
  }

  #claiming-social-security .step-two > .content-l_col-1-3:first-child {
    border-top: 1px solid #ccc;
    margin: 0 -20px;
    padding: 20px 20px 0 20px;
  }

  #claiming-social-security .step-two + .step-two {
    margin-top: 0;
  }

  #claiming-social-security .step-two div.question {
    border-top: 1px solid #ccc;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #claiming-social-security .question hr {
    display: none;
  }

  #claiming-social-security .step-two .lifestyle-img {
    display: inline-block;
    margin: 20px 0;
    max-width: 200px;
  }

  #claiming-social-security [data-answered] h3 {
    margin-top: 1em;
  }

  #claiming-social-security .question {
    margin-top: 1.875em !important;
  }

  #claiming-social-security .question-longevity {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.875em;
  }

  #claiming-social-security .step-two + hr {
    display: none;
  }

  #claiming-social-security .step-three {
    margin-top: 1.875em;
  }
}
