body {
  background-image: none;
  font-size: 16px;
}

form { 
  margin: 0;
  padding: 0;
}

#claiming-social-security button {
  letter-spacing: 0;
}

#claiming-social-security .cf-icon.cf-icon-help-round {
  color: #0072CD;
  font-size: .8em;
}

#claiming-social-security input[type='text'],
#claiming-social-security select {
  font-family: 'AvenirNextLTW01-Regular', Arial, sans-serif;
}

#claiming-social-security .btn {
  font-family: "AvenirNextLTW01-Regular", Arial, sans-serif;
  font-weight: normal;
}

#maincontent {
  width: 1168px;
  padding-top: 0px;  
}

#claiming-social-security h2,
#claiming-social-security h4,
#claiming-social-security h6 {
  text-transform: none;
  letter-spacing: 0em;
}

#claiming-social-security hr {
  width: 101.4%;
}

#claiming-social-security .canvas-container {
  position: relative;
}

#claiming-social-security .canvas-container .x-axis-label {
  position: relative;
  top: -30px;
  left: 40px;
}

#claiming-social-security p.y-axis-label {
  position: absolute;
  top: 250px;
  left: -50px;

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#claim-canvas {
  /*background-image: url('../graph-background.jpg');*/
  background-repeat: repeat-x;
  background-position: 0px 40px;
  position: relative;
}
#claim-canvas text {
  font-family: "AvenirNextLTW01-Regular", Arial, sans-serif;
}

#claiming-social-security {
  font-family: "AvenirNextLTW01-Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

#claiming-social-security #claiming-hero-bg {
  background-color: #FFCE8D;
  height: 350px;
  width: 100%;
  position: absolute;
  z-index: 0;
  background-image: url('../images/retirement-hero.png');
  background-position: 700px 65px;
  background-repeat: no-repeat;
  background-size: 40%;
}

#claiming-social-security .claiming-hero {
  margin-bottom: 30px;
  padding: 70px 0px 75px;
  width: 100%;
  height: 205px;
  position: relative;
}

#claiming-social-security .claiming-hero h1 {
  font-size: 2.125em;
}

#claiming-social-security .claiming-hero p {
  font-size: 1.625em;
}

#claiming-social-security .claiming-hero h1,
#claiming-social-security .claiming-hero p {
  font-family: "AvenirNextLTW01-Regular", Arial, sans-serif;
  width: 480px;
}

#claiming-social-security .claiming-hero-b h1 {
  font-size: 1.8em;
}

#claiming-social-security .claiming-hero-b h1,
#claiming-social-security .claiming-hero-b p {
  width: 600px;
}
#claiming-social-security .claiming-hero-b p {
  font-size: 1.2em;
}

#claiming-social-security .version-b {
  display:none;
}

#claiming-social-security .step-one {
  padding-top: 20px;
  padding-bottom: 14px;
}

#claiming-social-security .step-one h2 {
  border-left: 15px solid rgba(0, 0, 0, 0);
  margin-bottom: 30px;
}

#claiming-social-security .step-one .birthdate-inputs label.input-labels  {
  margin-right: 5px;
}

#claiming-social-security .step-one .birthdate-inputs label.input-labels:last-child {
  margin-right: 0px;
}

#claiming-social-security .step-one .input-labels input {
  height: 32px;
  padding-left: 10px;
}

#claiming-social-security .birthdate-inputs p,
#claiming-social-security label[for="salary-input"] p {
  margin-bottom: 8px;
}

#claiming-social-security .estimated-benefits-input + hr {
  margin-bottom: 0;
}

#claiming-social-security #graph-container .content-l_col {
  margin-top: 0px;
  padding: 45px 0;
}

#claiming-social-security .step-one .content-l_col {
  vertical-align: bottom;
}

#claim-canvas #indicator-handle {
  cursor: pointer;
}

#claim-canvas .age-text {
  color: #babbbd;
  cursor: pointer;
  font-family: 'AvenirNextLTW01-Regular', Arial, sans-serif;
  position: absolute;
  top: 292px;
  height: 75px;
}

#claim-canvas .age-text.selected-age {
  height: 25px;
}

#claim-canvas .age-text.selected-age p {
  color: #000;
  font-family: 'AvenirNextLTW01-Demi', Arial, sans-serif;
  font-weight: bold;
}

#claim-canvas #min-age-text {
  left: 5px;
}

#claim-canvas #selected-age-text {
  color: black;
}

#claim-canvas #max-age-text {
  left: 443px;
}

#claim-canvas #benefits-text,
#claim-canvas #full-age-benefits-text {
  position: absolute;
  font-family: 'AvenirNextLTW01-Demi', 'Arial', sans-serif;
  font-weight: 500;
}
#claim-canvas #full-age-benefits-text {
  color: #e3e4e5;
}

#claiming-social-security .estimated-longevity {
  display: block;

}
#claiming-social-security .lifetime-benefits-value {
  font-family: 'AvenirNextLTW01-Demi', 'Arial', sans-serif;
  font-weight: bold;
}

#claiming-social-security .explainer {
  font-size: .875em;
}

#claiming-social-security .estimated-benefits-input label {
  display: inline;
  margin-left: 40px;
}

#claiming-social-security input[type="text"] {
  border-color: #BABBBD;
}

#claiming-social-security #graph-container .content-l_col.benefits-comparison {
  background-color: #f8f8f8;
  border-left: 1px solid #e3e3e1;
  min-height: 100%;
  padding-left: 10px;
}

#claiming-social-security .input-labels {
  display: inline;
}

#claiming-social-security .input-labels .label-text {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#claiming-social-security .input-labels input {
  display: inline; 
  width: 15%;
  padding: 2px;
}

#claiming-social-security #bd-year {
  width: 30%;
}

#claiming-social-security #salary-input {
  width: 90%;
}

#claiming-social-security .benefits-comparison .annual-view {
  display: none;
}

#claiming-social-security .step-one .estimate-info {
  vertical-align: bottom;
  font-size: 0.875em;
  margin-top: 0px;
}

#claiming-social-security .step-one .estimate-info p {
  margin-bottom: -5px;
}

#claiming-social-security .step-one .step-one-instructions {
  margin-bottom: 60px;
}

#claiming-social-security #step-one-form {
  margin-top: 0;
  padding: 0;
}

#claiming-social-security .compared-to-full {
  display: none;
}

#claiming-social-security .selected-retirement-age-container {
  height: 77px;
  margin-bottom: 30px;
}

#claiming-social-security .selected-retirement-age-container p {
  margin-bottom: 0px;
}


#claiming-social-security .selected-retirement-age {
  margin-bottom: 2px;
}

#claiming-social-security .total-benefits-text {
  font-family: 'AvenirNextLTW01-Regular', 'Arial', sans-serif;
  font-weight: normal;
  line-height: 24px;
}

#claiming-social-security .total-benefits-container {
  margin-bottom: 30px;
}

#claiming-social-security .total-benefits-container p {
  margin: 0px;
}

#claiming-social-security .benefit-selection p.selected-full-retirement,
#claiming-social-security #age-selector-response,
#claiming-social-security #age-selector-response .thank-you {
  display: none;
}

#claiming-social-security .benefit-selection button.selected-remove {
  background: none;
  border: none;
  float: right;
}

#claiming-social-security #graph-container + hr {
  margin-top: 0px;
}

#claiming-social-security .graph-content .content-container {
  display: none;
}

#claiming-social-security .graph-content .content-container ul {
  padding-left: 20px;
  list-style-position: outside;
}

#claiming-social-security .graph-content h3.retirement-age {
  font-size: 1em;
  font-family: 'AvenirNextLTW01-Demi', 'Arial', sans-serif;
  font-weight: 500;
  margin: 0px;
}

#claiming-social-security #graph-container p.learn-how {
  margin-bottom: 0;
}

#claiming-social-security hr.before-step-two {
  margin-bottom: 45px;
}

#claiming-social-security .step-two .lifestyle-img {
  display: block;
  margin: 100px auto 80px;
}

#claiming-social-security .step-two .lifestyle-response {
  display: none;
}

#claiming-social-security .step-two + hr {
  margin: 50px 0;
}

/*#claiming-social-security .step-two .question-married .lifestyle-btn {
  width: 4em;
}
*/
#claiming-social-security .step-two .question,
#claiming-social-security .step-three .hidden-content {
  display: none;
}

#claiming-social-security #estimated-benefits-input,
#claiming-social-security #graph-container,
#claiming-social-security .step-two,
#claiming-social-security .step-three {
  opacity: .35;
}

#claiming-social-security .step-three h2 {
  margin-bottom: 30px;
}

#claiming-social-security .step-three h3 {
  margin-bottom: 5px;
}

#claiming-social-security .step-three .step-three-note {
  margin-bottom: 30px;
}

#claiming-social-security .step-three .selector-container {
  overflow: hidden;
  position: relative;
  background: #ffffff url('/retirement/static/images/select.png') no-repeat right 0;
  border: solid 1px #d0d0ce;
  height: 32px;
  font-family: "AvenirNextLTW01-Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  width: 16.6666666%;
}

#claiming-social-security .step-three #retirement-age-selector {
  width: 100%;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0 4px 0 10px;
  font-size: 1em;
  color: #101820;
  height: 100%;
}

#age-selector-response hr {
  margin-top: 40px;
  margin-bottom: 30px;
}

#claiming-social-security #age-selector-response .next-steps {
  padding-left: 0px;
  padding-top: 20px;
  margin-bottom: 60px;
}

#claiming-social-security #age-selector-response .next-steps li {
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 34px;
}  

#claiming-social-security #age-selector-response .next-steps li.next-step-one {
  background-image: url('../images/step_1.png');
} 

#claiming-social-security #age-selector-response .next-steps li.next-step-two {
  background-image: url('../images/step_2.png');
} 

#claiming-social-security #age-selector-response .next-steps li.next-step-three {
  background-image: url('../images/step_3.png');
} 

#claiming-social-security .step-three .helpful-btn {
  width: 4em;
}


/* ====================================================================
   Medium and small screens
==================================================================== */

@media (max-width: 1051px) {
  #claiming-social-security #maincontent {
    box-sizing: border-box;
    width: 100%;
  }

  .wrapper-banner,
  #header,
  #footer {
    display: none;
  }
}

/* ====================================================================
   Medium screens
==================================================================== */

@media (max-width: 1051px) and (min-width: 768px) {
  #claiming-social-security #claiming-hero-bg {
    display: none;
  }

  #claiming-social-security .claiming-hero {
    background-color: #FFCE8D;
    background-image: url('../images/retirement-hero.png');
    background-origin: content-box;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 350px auto;
    margin: 0 -20px 10px -20px;
    padding: 40px 20px;
    width: auto;
  }

  #claiming-social-security .claiming-hero h1,
  #claiming-social-security .claiming-hero p {
    padding-right: 375px;
    width: auto;
  }

  #claiming-social-security .step-one > .content-l_col {
    display: block;
    width: auto;
  }

  #claiming-social-security #graph-container {
    display: table;
    height: auto !important;
    width: auto;
  }

  #claiming-social-security #graph-container > .content-l_col-1-6 {
    caption-side: bottom;
    display: table-caption;
    width: 100%;
  }

  #claiming-social-security #graph-container > .content-l_col-1-2,
  #claiming-social-security #graph-container > .content-l_col-1-3 {
    display: table-cell;
  }

  #claiming-social-security #graph-container > .content-l_col-1-2 {
    width: 66.6666666%;
  }

  #claiming-social-security .step-two .content-l_col {
    display: block;
    width: auto;
  }

  #claiming-social-security div.question {
    border-bottom: 1px solid #ccc;
    margin-bottom: 2em;
    padding-bottom: 2em;
  }

  #claiming-social-security div.question.question-longevity {
    border-bottom: none;
  }

  #claiming-social-security .question:before,
  #claiming-social-security .question:after {
    display: table;
    content: "";
  }

  #claiming-social-security .question:after {
    clear: both;
  }

  #claiming-social-security .question hr {
    display: none;
  }

  #claiming-social-security .step-two .lifestyle-img {
    display: block !important;
    float: left;
    height: auto !important;
    margin: 0;
    width: 200px !important;
  }

  #claiming-social-security .step-two .lifestyle-question,
  #claiming-social-security .step-two .lifestyle-response,
  #claiming-social-security .step-two [data-answered] .lifestyle-btn.btn__grouped-first {
    margin-left: 230px;
  }

  #claiming-social-security .step-two .lifestyle-btn.btn__grouped-first {
    margin-left: 30px;
  }
}

/* ====================================================================
   Small screens
==================================================================== */

@media (max-width: 767px) {
  #claiming-social-security .content-l {
    margin-left: 0;
    margin-right: 0;
  }

  #claiming-social-security .content-l_col {
    border: none;
    display: block;
    width: auto;
  }

  #claiming-social-security #claiming-hero-bg {
    display: none;
  }

  #claiming-social-security .claiming-hero {
    background-color: #FFCE8D;
    background-image: url('../images/retirement-hero.png');
    background-position: center 20px;
    background-repeat: no-repeat;
    background-size: auto 100px;
    margin: 0 -20px 10px -20px;
    padding: 140px 20px 10px 20px;
    width: auto;
  }

  #claiming-social-security .claiming-hero h1,
  #claiming-social-security .claiming-hero p {
    width: 100%;
  }

  #claiming-social-security .birthdate-inputs p,
  #claiming-social-security label[for="salary-input"] p {
    margin-bottom: 0;
  }

  #claiming-social-security #salary-input {
    width: 65%;
  }

  #claiming-social-security #estimated-benefits-input label {
    display: inline-block;
    margin-right: 1em;
  }

  #claiming-social-security #graph-container {
    display: table;
    height: auto !important;
    width: 100%;
  }

  #claiming-social-security #graph-container > .content-l_col-1-6 {
    caption-side: bottom;
    display: table-caption;
    width: 100%;
  }

  #claiming-social-security #claim-canvas {
    overflow: hidden !important;
    width: 100% !important;
    margin-left: 40px;
  }

  #claiming-social-security #claim-canvas svg {
    overflow: hidden !important;
    width: 100% !important;
  }

  #claiming-social-security #graph-container .content-l_col.benefits-comparison {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #claiming-social-security #graph-container + hr {
    display: none;
  }

  #claiming-social-security .step-two > .content-l_col-1-3:first-child {
    border-top: 1px solid #ccc;
    margin: 0 -20px;
    padding: 20px 20px 0 20px;
  }

  #claiming-social-security .step-two + .step-two {
    margin-top: 0;
  }

  #claiming-social-security .step-two div.question {
    border-top: 1px solid #ccc;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #claiming-social-security .question hr {
    display: none;
  }

  #claiming-social-security .step-two .lifestyle-img {
    display: inline-block;
    margin: 20px 0;
    max-width: 200px;
  }

  #claiming-social-security [data-answered] h3 {
    margin-top: 1em;
  }

  #claiming-social-security .question {
    margin-top: 1.875em !important;
  }

  #claiming-social-security .question-longevity {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.875em;
  }

  #claiming-social-security .step-two + hr {
    display: none;
  }

  #claiming-social-security .step-three {
    margin-top: 1.875em;
  }
}

/* TOOLTIPS */
#claiming-social-security div[data-tooltip-name] {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
}

#claiming-social-security *[data-tooltip-target] {
    cursor: auto;
    border-bottom: none;
}

#claiming-social-security #tooltip-container {
    background-color: #E4E2E0;
    border: 0px solid #000;
    display: none;
    font-style: normal;
    font-size: .8em;
    padding: 15px;
    position: absolute;
    width: 20em;
    z-index: 3000;
}

#claiming-social-security #tooltip-container .content {
    padding: 0;
    margin: 0;
}

#claiming-social-security #tooltip-container .content p:last-child {
    margin-bottom: 0;
}

/* These elements, .outertip and .innertip, make the little speech-balloon styled
   tip appear along the top of the tooltip. */
#claiming-social-security  #tooltip-container .outertip {
    border: 0px solid transparent;
    border-bottom-color: #000;
    content: ' ';
    height: 0;
    position: absolute;
    left: -5px;
    top: -20px;
    width: 0;
}

#claiming-social-security #tooltip-container .innertip {
    border: 7px solid transparent;
    border-bottom-color: #E4E2E0;
    content: ' ';
    height: 0;
    position: absolute;
    left: 8px;
    top: -14px;
    width: 0;
}

#claiming-social-security .tooltip-target {
  border-width: 0;
  border-style: dotted;
  border-color: #0072ce;
  color: #0072ce;
  cursor: pointer;
  text-decoration: none;  
}

#claiming-social-security .selection-disabled {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* cf-notification */
#claiming-social-security .cf-notification {
  display: none;
  position: relative;
  padding: 11px;
  padding-left: 40px;
  margin-bottom: 20px;
  margin-top: -40px;
  background: #e3e4e5;
  border: 1px solid #75787b;
}

#claiming-social-security .cf-notification__error {
  background: #f6d9d3;
  border-color: #d12124;
}

#claiming-social-security .cf-notification__success {
  background: #dbedd4;
  border-color: #2cb34a;
}

#claiming-social-security .cf-notification__warning {
  background: #ffecd1;
  border-color: #ff9e1b;
}

#claiming-social-security .cf-notification_icon {
  position: absolute;
  top: 13px;
  left: 15px;
  color: #e3e4e5;
  font-size: 1.125em;
}

#claiming-social-security .cf-notification_icon__error {
  color: #d14327;
}

#claiming-social-security .cf-notification_icon__success {
  color: #2cb34a;
}

#claiming-social-security .cf-notification_icon__warning {
  color: #ff931b;
}

#claiming-social-security .cf-notification_text {
  margin: 0;
}

#claiming-social-security .cf-notification_text .short-desc {
  display: block;
  font-size: 16px;
}

#claiming-social-security .step-one .notification-input__warning {
  border-color: #FF921B;
}